CMakeCache.txt
CMakeFiles
CMakeScripts

Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.autosave
*.user
*.ninja
.*ninja_*
*.cbp

*.exe
*.dll
*.so
*.a

build
debug
release
