[submodule "third-party/cpparg"]
	path = third-party/cpparg
	url = git@github.com:BigRedEye/cpparg.git
[submodule "third-party/termcolor"]
	path = third-party/termcolor
	url = git@github.com:ikalnytskyi/termcolor.git
[submodule "third-party/toml"]
	path = third-party/toml
	url = git@github.com:skystrife/cpptoml.git
[submodule "third-party/boost-cmake"]
	path = third-party/boost-cmake
	url = git@github.com:Orphis/boost-cmake.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = git@github.com:fmtlib/fmt.git
